:root {
  --primary: #00ad68;
  --secondary: #83efc4;
  --accent: #3dfbaf;
  --text: #080c0a;
  --background: #f3faf7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #52ffba;
    --secondary: #107a4f;
    --accent: #04c377;
    --text: #f3f7f5;
    --background: #050b08;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.skipToContent {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  z-index: 100;
  background-color: var(--background);
  padding: 1rem;
  color: var(--text);
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.skipToContent:focus {
  transform: translateY(0);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
