.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: calc(50px + (16px * 2));
  background: linear-gradient(-45deg, var(--primary), var(--background) 50%);
  padding: 2rem;
  width: 100%;
}

.left {
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 15px;
}

.highlight {
  color: var(--primary) !important;
}

.left h1 {
  margin: 0 auto;
  margin-bottom: 1rem;
  max-width: 800px;
  color: var(--text);
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
}

.left h2 {
  margin: 0 auto;
  margin-bottom: 1rem;
  color: var(--text);
  font-weight: 700;
  font-size: 1.2rem;
}

.left ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  max-width: 800px;
  list-style: none;
}

.left li {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 0.5rem;
  color: var(--text);
  font-weight: 500;
  font-size: 1rem;
  list-style: none;
}

.left li > img {
  width: 2rem;
  height: 2rem;
}

.right {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.main img {
  width: 75%;
}

.ctas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  /* flex-direction: row;
  flex-wrap: wrap; */
  gap: 16px;
}

.ctas button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  border: none;
  border: 2px solid var(--primary);
  border-radius: 4px;
  background-color: var(--background);
  padding: 8px 16px;
  color: var(--primary);
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  text-wrap: nowrap;
}

.ctas button:hover,
.ctas button:focus {
  cursor: pointer;
  border-color: var(--accent) !important;
  background-color: var(--accent) !important;
  color: var(--text) !important;
}

.tryForFree {
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
  color: var(--background) !important;
}

@media only screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}
